.App {
    text-align: center;
}

.App-horizontal-bar {
    width: 100%;
    height: 48px;
    padding-top: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(0, 188, 212);
    color: #fff;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #FF6600;
    height: 180px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.App-intro {
    font-size: large;
}

.Scenario {
    width: 100%;
    height: 100%;
}

.SelectFieldDiv {
    display: inline-block;
    width: 33.333%;
}

.SelectField {
    display: table !important;
    margin: 0 auto;
    width: 60% !important;
}

.Button-container {
    /*position:relative;*/
    /*top:80%;*/
    /*left: calc(50% - 44px);*/
    width: 100%;
    height: 100px;
    padding: 20px 10vw;
    position: relative;
}

.Button button span {
    color: rgba(0, 188, 212, 0.870588) !important;
}

.ButtonDisappear button {
    display: none !important;
}

.Button button[disabled] span {
    color: rgba(0, 0, 0, 0.298039) !important;
    height: 40px;
}

.Indicator {
    display: inline-block;
    position: relative !important;
    margin-left: 50%;
}
.IndicatorDisappear {
    display: none !important;
}

.Summary-card-container {
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
    padding: 30px;
    height: 300px;
}

.Summary-card {
    background-color: #CCF2F7;
    background-color: rgba(0, 188, 212, 0.2);
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    border: 2px dotted rgb(0, 188, 212) !important;
    border-radius: 4px;
}

.Chart-container {
    width: 100%;
    padding: 30px;
}

.Chart {
    margin:0 auto;
}

.ChartHeader {
    display: table;
    margin: auto;
}

.Table-container {
    width: 100%;
    padding: 30px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
.rabbit {
    width: 5em;
    height: 3em;
    background: #ffffff;
    border-radius: 70% 90% 60% 50%;
    position: relative;
    box-shadow: -0.2em 1em 0 -0.75em #ffffff;
    -moz-transform: rotate(0deg) translate(-2em, 0);
    -ms-transform: rotate(0deg) translate(-2em, 0);
    -webkit-transform: rotate(0deg) translate(-2em, 0);
    transform: rotate(0deg) translate(-2em, 0);
    animation: hop 1s infinite linear;
    z-index: 1;
    display: table !important;
    margin: 0 auto;
    top: 50%
}

.no-flexbox .rabbit {
    margin: 10em auto 0;
}

.rabbit:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 100%;
    top: 0.5em;
    left: -0.3em;
    box-shadow: 4em 0.4em 0 -0.35em #3f3334, 0.5em 1em 0 white, 4em 1em 0 -0.3em white, 4em 1em 0 -0.3em white, 4em 1em 0 -0.4em white;
    animation: kick 1s infinite linear;
}

.rabbit:after {
    content: "";
    position: absolute;
    width: .75em;
    height: 2em;
    background: white;
    border-radius: 50% 100% 0 0;
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    right: 1em;
    top: -1em;
    border-top: 1px solid #f7f5f4;
    border-left: 1px solid #f7f5f4;
    box-shadow: -0.5em 0em 0 -0.1em white;
}

.clouds {
    background: white;
    width: 2em;
    height: 2em;
    border-radius: 100% 100% 0 0;
    position: relative;
    top: 0em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    animation: cloudy 1s infinite linear forwards;
    box-shadow: 5em 2em 0 -0.3em white, -2em 2em 0 0 white;
    display: table !important;
    margin: 0 auto;
}

.clouds:before, .clouds:after {
    content: '';
    position: absolute;
    box-shadow: 5em 2em 0 -0.3em white, -2em 2em 0 white;
}

.clouds:before {
    width: 1.25em;
    height: 1.25em;
    border-radius: 100% 100% 0 100%;
    background: white;
    left: -30%;
    bottom: 0;
}

.clouds:after {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100% 100% 100% 0;
    background: white;
    right: -30%;
    bottom: 0;
}

@keyframes hop {
    20% {
        -moz-transform: rotate(-10deg) translate(1em, -2em);
        -ms-transform: rotate(-10deg) translate(1em, -2em);
        -webkit-transform: rotate(-10deg) translate(1em, -2em);
        transform: rotate(-10deg) translate(1em, -2em);
        box-shadow: -0.2em 3em 0 -1em #f7f5f4;
    }
    40% {
        -moz-transform: rotate(10deg) translate(3em, -4em);
        -ms-transform: rotate(10deg) translate(3em, -4em);
        -webkit-transform: rotate(10deg) translate(3em, -4em);
        transform: rotate(10deg) translate(3em, -4em);
        box-shadow: -0.2em 3.25em 0 -1.1em #f7f5f4;
    }
    60%, 75% {
        -moz-transform: rotate(0) translate(4em, 0);
        -ms-transform: rotate(0) translate(4em, 0);
        -webkit-transform: rotate(0) translate(4em, 0);
        transform: rotate(0) translate(4em, 0);
        box-shadow: -0.2em 1em 0 -0.75em #f7f5f4;
        opacity: 0.75;
    }
}

@keyframes kick {
    20%, 50% {
        box-shadow: 4em 0.4em 0 -0.35em #3f3334, 0.5em 1.5em 0 white, 4em 1.75em 0 -0.3em white, 4em 1.75em 0 -0.3em white, 4em 1.9em 0 -0.4em white;
    }
    40% {
        box-shadow: 4em 0.4em 0 -0.35em #3f3334, 0.5em 2em 0 white, 4em 1.75em 0 -0.3em white, 4.2em 1.75em 0 -0.2em white, 4.4em 1.9em 0 -0.2em white;
    }
}

@keyframes cloudy {
    40% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
        opacity: 0.75;
        -moz-transform: translate(-3em, 0);
        -ms-transform: translate(-3em, 0);
        -webkit-transform: translate(-3em, 0);
        transform: translate(-3em, 0);
    }
    55% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-transform: translate(-4em, 0);
        -ms-transform: translate(-4em, 0);
        -webkit-transform: translate(-4em, 0);
        transform: translate(-4em, 0);
    }
    90% {
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
